.agent {

}

.agent--new {
  color: $gray-lighter;
}

.agent--killed {
  color: $gray-lighter;
  * {
    color: $gray-lighter !important;
  }
  font-style: italic;
  position: relative;
  &:after {
    content: "";
    display: block;
    height: 1px;
    background-color: $gray-lighter;
    position: absolute;
    right: 50%;
    left: 20px;
    margin-top: 25px;
  }
}