-@title= 'Initiative Tracker'
-@page_classes= 'home'

.container
  .row
    .col-12.mt-50
      .jumbotron.text-center
        %i.fa.fa-fort-awesome.fa-4x.text-muted
        %h1
          Initiative Tracker
    .col-12.mt-50
      %main
